dist/selfcontrol.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Development by Webcom Media</title>
    <meta content="./images/vendor/apple-touch-icon.png" itemprop="image">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/vendor/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/vendor/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/vendor/favicon/favicon-16x16.png">
    <link rel="manifest" href="./images/vendor/favicon/site.webmanifest">
    <link rel="mask-icon" href="./images/vendor/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="./images/vendor/favicon/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="Агентство Webcom Performance предлагает решение бизнес-задач клиента в интернете с прицелом на измеримый результат.">
    <meta name="keywords" content="Услуги Webcom Performance">
    <meta property="og:image" content="./images/vendor/og-image.jpg">
    <meta property="og:image:width" content="279">
    <meta property="og:image:height" content="279">
    <meta property="og:type" content="website">
    <meta property="og:url" content="/">
    <meta property="og:title" content="Webcom Performance – агентство перфоманс маркетинга с 18-летним опытом">
    <meta property="og:site_name" content="Webcom Performance – агентство перфоманс маркетинга с 18-летним опытом">
    <meta property="og:description" content="Агентство Webcom Performance предлагает решение бизнес-задач клиента в интернете с прицелом на измеримый результат.">
    <meta name="twitter:card" content="summary">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="css/vendor/owl.carousel.css">
    <link rel="stylesheet" href="css/vendor/jquery.fancybox.css">
    <link rel="stylesheet" href="css/vendor/animate.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/styles-NEW.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script async src="libs/jquery.ui.touch-punch.min.js"></script>
  </head>
  <body><section class="b-individual-have-new b-individual-have-new--light" id="INDIVIDUAL_HAVE">
<div class="b-individual-have-new__container b-individual-have-new__container--center">
<h2 class="b-individual-have-new__title b-new-title b-new-title--upper b-new-title--center b-new-title--mb-desc">условия сотрудничества</h2>
<p class="b-individual-have-new__desc">для клиентов на самоуправлении</p>
<ul class="b-individual-have-new__list">
<li class="b-individual-have-new__item b-individual-have-new__item--solid b-item">
<ul class="b-item__wrap">
<li class="b-item__wrap-item"><b>Cумма вашего счета</b></li>
</ul>
</li>
<li class="b-individual-have-new__item b-individual-have-new__item--dashed b-individual-have-new__item--sum b-item">
<ul class="b-item__wrap">
<li class="b-item__wrap-item b-item__wrap-item--line"><b>рекламный бюджет с НДС</b></li>
<li class="b-item__wrap-item">min рекомендуемый бюджет 100 BYN</li>
</ul>
</li>
<li class="b-individual-have-new__item b-individual-have-new__item--dashed b-individual-have-new__item--plus b-item">
<ul class="b-item__wrap">
<li class="b-item__wrap-item b-item__wrap-item--line"><b>вознаграждение агентства</b></li>
<li class="b-item__wrap-item">0 BYN&nbsp;</li>
</ul>
</li>
</ul>
<p class="b-individual-have-new__nonds">А для Facebook дополнительно еще оплачивается комиссия за зачисление в размере от 5% до 10%</p>
<p class="b-individual-have-new__source b-individual-have-new__source--accent">И никаких скрытых комиссий, платежей и махинаций с курсом!</p>
</div>
</section>
        <section class="s-section s-self-calc" id="S_SELF_CALC">
          <div class="s-section__heading">
            <div class="inner">
              <h2 class="s-section__title">Калькулятор суммы платежа</h2>
            </div>
          </div>
          <div class="s-section__content"><!--Калькулятор суммы платежа-->
            <div class="inner">
              <div class="b-self-calc">
                <form class="b-self-calc-form" action="/" method="">
                  <div class="b-self-calc-head">
                    <p>Сумма пополнения аккаунта</p>
                    <input id="CALC_AMOUNT" type="text" name="CALC_AMOUNT" value="100.00 BYN">
                    <p> <small><span>*</span> Минимальная сумма зачисления - 100 BYN. <a href="#INDIVIDUAL_HAVE" class="js-anchor">Подробнее</a></small></p>
                    <div class="b-self-calc-form-group">
                      <ul class="b-self-calc-list">
                        <li class="b-self-calc-item">
                          <label><img src="img/selfcontrol/calc/google.svg" alt="social">
                            <input id="CALC_ITEM1" type="radio" name="CALC_ITEM" value="0">
                          </label>
                        </li>
                        <li class="b-self-calc-item is-active">
                          <label><img src="img/selfcontrol/calc/yandex-direct.svg" alt="social">
                            <input id="CALC_ITEM2" type="radio" name="CALC_ITEM" value="0">
                          </label>
                        </li>
                        <li class="b-self-calc-item">
                          <label><img src="img/selfcontrol/calc/yandex-market.svg" alt="social">
                            <input id="CALC_ITEM3" type="radio" name="CALC_ITEM" value="0">
                          </label>
                        </li>
                        <li class="b-self-calc-item">
                          <label><img src="img/selfcontrol/calc/vk.svg" alt="social">
                            <input id="CALC_ITEM4" type="radio" name="CALC_ITEM" value="0">
                          </label>
                        </li>
                        <li class="b-self-calc-item">
                          <label>
                            <div class="img-group">
                              <div class="img-group-item"><img src="img/selfcontrol/calc/fb.svg" alt="social"></div>
                              <div class="img-group-item"><img src="img/selfcontrol/calc/inst.svg" alt="social"></div>
                            </div>
                            <input id="CALC_ITEM5" type="radio" name="CALC_ITEM" value="10">
                          </label>
                        </li>
                        <li class="b-self-calc-item">
                          <label><img src="img/selfcontrol/calc/ok.svg" alt="social">
                            <input id="CALC_ITEM6" type="radio" name="CALC_ITEM" value="0">
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="b-self-calc-body">
                    <div class="b-self-calc-form-group">
                      <fieldset>
                        <label for="CALC_RESULT_FEE">Комиссия за перечисление</label>
                        <input id="CALC_RESULT_FEE" type="text" name="CALC_RESULT_FEE" value="0 BYN" readonly="">
                      </fieldset>
                      <fieldset class="is-flex-auto">
                        <label for="CALC_RESULT_AMOUNT">Сумма, которая поступит на аккаунт (в валюте аккаунта)</label>
                        <input id="CALC_RESULT_AMOUNT" type="text" name="CALC_RESULT_AMOUNT" value="46.73 USD*" readonly="">
                      </fieldset>
                      <fieldset>
                        <label for="CALC_RESULT_SUMM">Сумма счета (без НДС)</label>
                        <input class="b-self-calc-result" id="CALC_RESULT_SUMM" type="text" name="CALC_RESULT_SUMM" value="106.00 BYN" readonly="">
                      </fieldset>
                    </div>
                  </div>
                </form>
              </div>
            </div><!--end Калькулятор суммы платежа-->
            <div class="s-self-calc-footer">
              <div class="inner"><a class="b-calc-btn b-help-variant-new__btn b-new-btn b-new-btn--orange b-new-btn--shadow js-anchor" href="#">оставить заявку</a>
                <p><span>*</span> Все переводы по официальному курсу НБРБ</p>
              </div>
            </div>
          </div>
        </section>
    <script src="js/vendor/device.js"></script>
    <script src="js/vendor/owl.carousel.js"></script>
    <script src="js/vendor/wow.js"></script>
    <script src="js/vendor/jquery.fancybox.pack.js"></script>
    <script src="js/vendor/jquery.fancybox-media.js"></script>
    <script src="js/vendor/container.js"></script>
    <script src="js/vendor/stickybits.js"></script>
    <script src="js/vendor/svgxuse.js"></script>
    <script src="js/bundle.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>

src/pug/pages/selfcontrol.pug
doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        title Development by Webcom Media
        meta(content='./images/vendor/apple-touch-icon.png', itemprop='image')
        link(rel='apple-touch-icon', sizes='180x180', href='./images/vendor/favicon/apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='32x32', href='./images/vendor/favicon/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='./images/vendor/favicon/favicon-16x16.png')
        link(rel='manifest', href='./images/vendor/favicon/site.webmanifest')
        link(rel='mask-icon', href='./images/vendor/favicon/safari-pinned-tab.svg', color='#5bbad5')
        meta(name='msapplication-TileColor', content='#da532c')
        meta(name='msapplication-TileImage', content='./images/vendor/favicon/mstile-150x150.png')
        meta(name='theme-color', content='#ffffff')
        meta(name='description', content='Агентство Webcom Performance предлагает решение бизнес-задач клиента в интернете с прицелом на измеримый результат.')
        meta(name='keywords', content='Услуги Webcom Performance')
        meta(property='og:image', content='./images/vendor/og-image.jpg')
        meta(property='og:image:width', content='279')
        meta(property='og:image:height', content='279')
        meta(property='og:type', content='website')
        meta(property='og:url', content='/')
        meta(property='og:title', content='Webcom Performance – агентство перфоманс маркетинга с 18-летним опытом')
        meta(property='og:site_name', content='Webcom Performance – агентство перфоманс маркетинга с 18-летним опытом')
        meta(property='og:description', content='Агентство Webcom Performance предлагает решение бизнес-задач клиента в интернете с прицелом на измеримый результат.')
        meta(name='twitter:card', content='summary')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&amp;subset=cyrillic')
        link(rel='stylesheet', href='css/vendor/owl.carousel.css')
        link(rel='stylesheet', href='css/vendor/jquery.fancybox.css')
        link(rel='stylesheet', href='css/vendor/animate.css')
        link(rel='stylesheet', href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
        link(rel='stylesheet', href='css/global.css')
        link(rel='stylesheet', href='css/styles.css')
        link(rel='stylesheet', href='css/styles-NEW.css')
        script(src='https://code.jquery.com/jquery-3.2.1.min.js')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js')
        script(async src="libs/jquery.ui.touch-punch.min.js")
    body
        mixin section(className, title, desc, id)
            section.s-section(id=id, class=className)
                if title || desc
                    .s-section__heading
                        .inner
                            if title
                                h2.s-section__title !{title}
                            if desc
                                p.s-section__desc !{desc}
                .s-section__content
                    block
        //- <!--info tooltip -->
        mixin tooltip(title)
            span.b-tooltip(data-title=title)
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.62549 4.5C7.62549 5.05228 8.07324 5.5 8.62549 5.5C9.17773 5.5 9.62549 5.05228 9.62549 4.5C9.62549 3.94772 9.17773 3.5 8.62549 3.5C8.07324 3.5 7.62549 3.94772 7.62549 4.5Z" fill="#009731"/>
                    <path d="M9.30664 11.9573C8.96338 12.3191 8.53516 12.5 8.02051 12.5C7.50635 12.5 7.10059 12.3844 6.80371 12.1533C6.51807 11.9221 6.375 11.6206 6.375 11.2487C6.375 11.1181 6.46631 10.5704 6.64941 9.60553L7.21484 6.90704H6.49512L6.5293 6.63568H7.2666C8.1123 6.63568 8.73486 6.60553 9.13477 6.54523L9.375 6.5L8.19238 12.1985C8.53516 12.1683 8.8208 12.0276 9.04932 11.7764L9.30664 11.9573Z" fill="#009731"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 8C0 12.4183 3.58154 16 8 16C12.4185 16 16 12.4183 16 8C16 3.58172 12.4185 0 8 0C3.58154 0 0 3.58172 0 8ZM8 15C4.13379 15 1 11.866 1 8C1 4.13401 4.13379 1 8 1C11.8662 1 15 4.13401 15 8C15 11.866 11.8662 15 8 15Z" fill="#009731"/>
                </svg>
        <section class="b-individual-have-new b-individual-have-new--light" id="INDIVIDUAL_HAVE">
            <div class="b-individual-have-new__container b-individual-have-new__container--center">
            <h2 class="b-individual-have-new__title b-new-title b-new-title--upper b-new-title--center b-new-title--mb-desc">условия сотрудничества</h2>
            <p class="b-individual-have-new__desc">для клиентов на самоуправлении</p>
            <ul class="b-individual-have-new__list">
                <li class="b-individual-have-new__item b-individual-have-new__item--solid b-item">
                <ul class="b-item__wrap">
                    <li class="b-item__wrap-item"><b>Cумма вашего счета</b></li>
                </ul>
                </li>
                <li class="b-individual-have-new__item b-individual-have-new__item--dashed b-individual-have-new__item--sum b-item">
                <ul class="b-item__wrap">
                    <li class="b-item__wrap-item b-item__wrap-item--line"><b>рекламный бюджет с НДС</b></li>
                    <li class="b-item__wrap-item">min рекомендуемый бюджет 100 BYN</li>
                </ul>
                </li>
                <li class="b-individual-have-new__item b-individual-have-new__item--dashed b-individual-have-new__item--plus b-item">
                <ul class="b-item__wrap">
                    <li class="b-item__wrap-item b-item__wrap-item--line"><b>вознаграждение агентства</b></li>
                    <li class="b-item__wrap-item">0 BYN&nbsp;</li>
                </ul>
                </li>
            </ul>
            <p class="b-individual-have-new__nonds">А для Facebook дополнительно еще оплачивается комиссия за зачисление в размере от 5% до 10%</p>
            <p class="b-individual-have-new__source b-individual-have-new__source--accent">И никаких скрытых комиссий, платежей и махинаций с курсом!</p>
            </div>
        </section>

        +section("s-self-calc", "Калькулятор суммы платежа", desc, "S_SELF_CALC")
            include ../modules/SELFCONTROL/calc
            .s-self-calc-footer
                .inner
                    a.b-calc-btn.b-help-variant-new__btn.b-new-btn.b-new-btn--orange.b-new-btn--shadow(href="#", class="js-anchor") оставить заявку
                    p <span>*</span> Все переводы по официальному курсу НБРБ

        script(src='js/vendor/device.js')
        script(src='js/vendor/owl.carousel.js')
        script(src='js/vendor/wow.js')
        script(src='js/vendor/jquery.fancybox.pack.js')
        script(src='js/vendor/jquery.fancybox-media.js')
        script(src='js/vendor/container.js')
        script(src='js/vendor/stickybits.js')
        script(src='js/vendor/svgxuse.js')
        script(src='js/bundle.js')
        script(src='js/scripts.js')
